.orbit-circle:nth-child(1) {
    animation-delay: 0s;
  }
  
  .orbit-circle:nth-child(2) {
    animation-delay: 2s;
  }
  
  .orbit-circle:nth-child(3) {
    animation-delay: 4s;
  }
  
  .orbit-circle:nth-child(4) {
    animation-delay: 6s;
  }
  
  .orbit-circle:nth-child(5) {
    animation-delay: 8s;
  }
  