<nav class="bg-black  px-6 py-4 relative overflow-hidden top-0">
    <div class="flex items-center justify-between relative z-20">
      <!-- Logo and Name as a Link -->
      <div class="flex items-center space-x-3">
        <a routerLink="/" class="flex items-center space-x-3">
          <img src="img/logo_transparent.png" alt="Logo" class="h-11 w-11" />
          <span class="text-2xl font-semibold">ST DevSec</span>
        </a>
      </div>
    
      <!-- Navigation Links -->
      <div class="flex items-center space-x-6 text-2xl">
        <!-- About Link -->
        <a
          routerLink="#"
          class="hover:-translate-y-1 hover:scale-220 hover:text-green-500 transition-colors duration-400 "
        >
          About
        </a>
        <!-- Services Link -->
        <a
          routerLink="#"
          class="hover:-translate-y-1 hover:text-green-500 transform transition-all duration-400 hover:scale-220"
        >
          Services
        </a>
        <!-- Pricing Button -->
        <a
          routerLink="/pricing"
          class="bg-black border-2 border-red-700 px-4 py-2 rounded-xl transform transition-all duration-300 hover:scale-220 hover:bg-red-500 hover:border-red-600 hover:text-3xl hover:border-5 hover:text-red-500 hover:-translate-y-1">
          Pricing
        </a>
      </div>
    </div>
    
    <!-- Animated Gradient Blur Shadow Background -->
  </nav>
  
  <!-- Gradient Shadow -->
  <div class="top-0 left-0 w-full h-5 bg-gradient-to-b from-red-600 to-orange-500 blur-lg animate-shadow transform translate-y-6 -z-7"></div>
  

  